<ion-view view-title="RSS Content">

  <ion-content class="padding">
		
		<div class="list">

		<label class="item item-input item-select">
		    <div class="input-label">
		      Choose Example
		    </div>
		   	<select   ng-options="opt.label for opt in opciones" ng-model="selectedRss.value"></select>

		  </label>

		  <button ng-disabled="selectedRss.value == null" class="button button-block button-positive" ng-click="getRSSData()" > Get RSS </button>

		</div>



        <div  class="list card" ng-repeat="item in items" >
            <div class="item item-divider">{{item.title}}</div>
 				<div class="item item-body">
		        <div ng-bind-html="item.description">      </div>
      		</div>
                   
        </div>
 </ion-content>
 </ion-view>